<nav class="navbar">
  <span class="navbar-brand">
    <span class="ml-2">Technico</span>
  </span>
  <div class="navbar-links">
    <span
      class="home-nav"
      [class.active]="isActive('/admin-homepage/home')"
      (click)="goToHome()">Home</span>
    <span
      class="repair-nav"
      [class.active]="isActive('/admin-homepage/repairs')"
      (click)="goToRepairs()">Repairs</span>
    <span
      class="property-nav"
      [class.active]="isActive('/admin-homepage/property-owners')"
      (click)="goToPropertyOwners()">Properties</span>
  </div>
</nav>
