.container-create-repair {
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #dee2e6;
    background-color: #f7f7f7;
  }
  
  h2 {
    text-align: center;
    color: #f55701;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #f55701;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: transform 0.2s, background-color 0.2s;

    &:hover {
      background-color: #d94d00;
      transform: scale(1.02);
    }

    &:active {
      transform: scale(0.95);
    }
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }