<div class="container">
    <div class="Owner-container">
    <p>Manage the properties efficiently with our user-friendly platform. View, edit, and create property owners with ease. </p>
    <div class="btn-container">
        <button class="btn btn-owner-management" routerLink="/owner-management">
            Owner Management
        </button>
           <button class="btn btn-property-management">Property Management</button>
    </div>    
    </div>
<div class="container-properties" >
    <h2>Properties</h2>
    <div *ngFor="let propertyitem of paginatedProperties" class="property-card">
      <div class="property-info">
        <h3>Property ID: {{ propertyitem.Id }}</h3>
        <p>Address: {{ propertyitem.Address }}</p>
        <p>Year Of Construction: {{ propertyitem.YearOfConstruction }}</p>
        <p>Type Of Property: {{ propertyitem.TypeOfProperty }}</p>
        <p>VAT: {{ propertyitem.Vat }}</p>
      </div>
    </div>
  </div>
<div class="pagination">
    <c-pagination aria-label="Page navigation example">
        <li cPageItem [class.disabled]="currentPage === 1">
          <a cPageLink (click)="changePage(currentPage-1)"[routerLink]>Previous</a>
        </li>
        <li cPageItem *ngFor="let page of totalPagesList">
          <a cPageLink (click)="changePage(page)"[routerLink] [class.active]="page=== currentPage">{{page}}</a>
        </li>
        <li cPageItem [class.disabled]="currentPage === totalPages">
          <a cPageLink (click)="changePage(currentPage+1)" [routerLink]>Next</a>
        </li>
      </c-pagination>
</div>
</div>