.Owner-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(177, 65, 0, 0.1);
  padding: 40px;
  margin-top: 40px;
  border: 1px solid #dee2e6;
  background-color: #f7f7f7;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  padding: 3px 12px;
  font-size: 0.9rem;
  border: none;
  border-radius: 7px;
  color: white;
  transition: background-color 0.3s ease;
  background-color: #f55701;
}

.btn:hover {
  opacity: 0.8;
}

.container-properties {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  align-items: center;
  gap: 20px;
  margin-top: 50px;

  h2 {
    text-align: center;
    color: #f55701;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}

.property-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(177, 65, 0, 0.1);
  width: 100%;
  max-width: 1000px;
  margin: 10px 0;
}

.property-info h3 {
  margin-bottom: 5px;
  font-size: 1.25rem;
  font-weight: bold;
}

.property-info p {
  margin: 7px 0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

li {
  list-style: none;
  margin: 0 5px;
}

.pagination a {
  padding: 8px 12px;
  border: 1px solid #f55701;
  border-radius: 4px;
  color: #f55701;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover,
.pagination a.active {
  background-color: #f55701;
  color: #fff;
}