.container{
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.Owner-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(177, 65, 0, 0.1);
  padding: 25px;
  margin: 25px auto;
  border: 1px solid #dee2e6;
  background-color: #f7f7f7;
  font-size: 1.2rem;
  width: 100%;
  max-width: 1000px;
  min-height: 200px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
}

.btn {
  padding: 3px 12px;
  font-size: 1rem;
  border: none;
  border-radius: 7px;
  color: #f55701;
  transition: background-color 0.3s ease;
  border: 1.5px solid #f55701;
}

.btn:hover {
  transform: scale(1.1);
  background-color: #f55701;
  color: #ffffff;
  opacity: 1;
}
.container-properties{
  justify-content: center ;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;


  h2{
    font-size: 2rem;
    font-weight: 600;
    color: #f55701;
    margin-top: 15px;
  }
}
.property-card {
  background: #f7f7f7;
  border-radius: 8px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 1.5rem;
  width: 100%;
  max-width: 1000px;
  min-height: 200px;
  font-size: 1rem;
}
.property-header {
  border-bottom: 1px solid #f55701;
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
  
}

.property-identifiers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
 
}

.identifier-item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  
}

.identifier-item i, 
.identifier-item mat-icon { 
  color: #f55701;
  font-size: 1.3rem;
}

.identifier-label {
  color: #666;
  font-weight: 500;
}

.identifier-value {
  font-weight: 600;
}

.property-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-left: 5%;
}

.detail-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.detail-icon {
  background: #f0eeee;
  padding: 0.8rem;
  border-radius: 50%;
  color: #f55701;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-content {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}

.detail-label {
  color: #666;
  font-size: 1.1rem;
  margin-bottom: 0.25rem;
}

.detail-value {
  font-weight: 500;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-right: 5%;
  
}

li {
  list-style: none;
  margin: 0 5px;
  
}

.pagination a {
  padding: 8px 12px;
  border: 1px solid #f55701;
  border-radius: 4px;
  color: #f55701;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  
}

.pagination a:hover,
.pagination a.active {
  background-color: #f55701;
  color: #fff;
}

