<footer class="d-flex">
    <div class="d-flex">
        <a href="https://www.accenture.com/gr-en">
            <img src="../../../assets/Accenture-Logo.png" width="55" height="34">
        </a>
        <span class="text-body-secondary">© 2024 Accenture Greece</span>
    </div>
    <div class="social-links">
        <a class="btn btn-linkedin" href="https://www.linkedin.com/company/accenture-greece/posts/?feedView=all/" role="button">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a class="btn btn-github" href="https://github.com/nayafyt/Technico.git" role="button">
            <i class="fab fa-github"></i>
        </a>
    </div>
</footer>
