<div class="container">
    <div class="left-container">
      <h1>Welcome to Technico</h1>
      <p>Create an account and start connecting!</p>
    </div>
    <div class="right-container">
      <form [formGroup]="signUpForm" (ngSubmit)="signUp()" class="form-control">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Enter your email"
        />
  
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Enter your password"
        />
  
        <label for="confirmPassword">Confirm Password:</label>
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          placeholder="Confirm your password"
        />
  
        <button id="login-button" type="submit">Sign Up</button>
  
        <div class="link-container">
          <p>
            Already have an account? 
            <a routerLink="/login" class="link">Login</a>
          </p>
        </div>
      </form>
    </div>
  </div>