.container-repairsPage {
    padding: 2rem;
    font-family: 'Arial', sans-serif;
    color: #333;
  
    h2 {
      text-align: center;
      color: #f55701;
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
  
    .noRepairs {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3rem;
        p {
            font-size: 1.2em;
            color: #999;
        }
    }
  
    .repair-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #dee2e6;
      margin: 10px;
      padding: 15px;
      border-radius: 8px;
      background-color: #f7f7f7;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
  
      .repair-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1;
        padding-right: 20px;
  
        h3 {
          font-size: 1.25rem;
          margin-bottom: 5px;
          font-weight: bold;
        }
  
        p {
          margin: 5px 0;
          font-size: 0.9rem;
        }
      }
  
      .repair-description {
        display: flex;
        justify-content: center;
        flex: 2;
        text-align: center;
        padding: 0 15px;
  
        p {
          margin: 0;
          font-size: 0.95rem;
          color: #555;
        }
      }
  
      .repair-button {
        padding: 10px 15px;
        color: white;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
        background-color: #2196f3;
      }
    }

    .pagination button {
        padding: 8px 12px;
        border: 1px solid #f55701;
        border-radius: 4px;
        color: #f55701;
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s;
        margin: 0 5px;
      }
      
      .pagination button:hover,
      .pagination button.active {
        background-color: #f55701;
        color: #fff;
      }
    
      .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
  }
  