<div class="container">
  <div class="admin-container">
    <h1>Welcome, Admin!</h1>
    <p>
      Here you can check the progress and manage repairs and properties
      efficiently
    </p>
  </div>
  <div class="image-container">
    <img src="assets/admin.png" class="admin-image" alt="Admin Image" />
  </div>
</div>
<!-- <div *ngIf="isLoading" class="loading-indicator">
  <p>Loading Repairs..</p>
</div> -->
<div class="container-repairs" *ngIf="!isLoading">
  <h2>Ongoing Repairs</h2>
  <div *ngFor="let repair of repairs" class="repair-card">
    <div class="repair-info">
      <h3>{{ repair.title }}</h3>
      <p>Date: {{ repair.date }}</p>
      <p>Location: {{ repair.location }}</p>
      <p>Cost: ${{ repair.cost }}</p>
      <p>Owner: {{ repair.owner }}</p>
    </div>
    <div class="repair-description">
      <p>{{ repair.description }}</p>
    </div>
    <button
      class="repair-button"
      [ngClass]="{
        'in-progress': repair.status === 'In Progress',
        scheduled: repair.status === 'Scheduled',
        completed: repair.status === 'Completed'
      }"
    >
      {{ repair.status }}
    </button>
  </div>
</div>
