.container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: #f7f7f7;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 1000px;
  margin-top: 40px;
  flex-wrap: wrap; 
  font-size: larger;
}

.admin-image {
  max-width: 140px;
  margin-right: 90px;
}

.container-repairs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
 
}

h2 {
  text-align: center;
  color: #f55701;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.repair-card {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1000px;
  min-height: 200px;
  font-size: 1rem;
  margin: 10px 0;
}

.repair-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f55701;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.repair-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  
  p {
    margin: 0.5rem 0;
  }
}
.repair-description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 15px;
  flex: 1;
  margin-right: 250px;
}

.repair-button {
  padding: 3px 12px;
  font-size: 1rem;
  border: 1.5px solid #f55701;
  border-radius: 7px;
  color: #f55701;
  transition: background-color 0.3s ease;
  background-color: transparent;
  margin-left: auto;
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover:not(.in-progress) {
    transform: scale(1.1);
    background-color: #f55701;
    color: #ffffff;
    opacity: 1;
  }

  &.in-progress {
    background-color: #f55701;
    color: #ffffff;
    cursor: default;
    pointer-events: none;
    opacity: 0.8;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pagination button {
  padding: 8px 12px;
  border: 1px solid #f55701;
  border-radius: 4px;
  color: #f55701;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  margin: 0 5px;
}

.pagination button:hover,
.pagination button.active {
  background-color: #f55701;
  color: #fff;
}

.property-header {
  border-bottom: 1px solid #f55701;
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
}

.property-identifiers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.identifier-item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  
  i {
    color: #f55701;
    font-size: 1.3rem;
  }
}

.identifier-label {
  color: #666;
  font-weight: 500;
}

.identifier-value {
  font-weight: 600;
}

.property-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-left: 5%;
}

.detail-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.detail-icon {
  background: #f0eeee;
  padding: 0.8rem;
  border-radius: 50%;
  color: #f55701;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-content {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}

.detail-label {
  color: #666;
  font-size: 1.1rem;
  margin-bottom: 0.25rem;
}

.detail-value {
  font-weight: 500;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1rem;
}
