.container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: #f7f7f7;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 40px;
}

.admin-image {
  max-width: 140px;
  margin-right: 90px;
}

.container-repairs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  align-items: center;
  gap: 20px;
  margin-top: 50px;

  h2 {
    text-align: center;
    color: #f55701;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}

.repair-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1000px;
  margin: 10px 0;
}

.repair-info h3 {
  font-size: 1.25rem;
  margin-bottom: 5px;
  font-weight: bold;
}

.repair-info p {
  margin: 7px 0;
}

.repair-button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s ease;
}

.repair-button.in-progress {
  background-color: #ff9800;
}

.repair-button.scheduled {
  background-color: #2196f3;
}

.repair-button.completed {
  background-color: #4caf50;
}

.repair-button:hover {
  opacity: 0.8;
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;

  p {
    font-size: 1.5rem;
    color: #f55701;
    font-weight: bold;
  }
}