<div class="container">
  <div class="admin-container">
    <h1>Welcome, Admin!</h1>
    <p>
      Here you can check the progress and manage repairs and properties
      efficiently
    </p>
  </div>
  <div class="image-container">
    <img src="assets/admin.png" class="admin-image" alt="Admin Image" />
  </div>
</div>
<div class="container-repairs">
  <h2>Ongoing Repairs</h2>
  <div *ngFor="let repair of paginatedRepairs" class="repair-card">
    <div class="repair-info">
      <h3>{{ repair.title }}</h3>
      <p>Date: {{ repair.date }}</p>
      <p>Location: {{ repair.location }}</p>
      <p>Cost: ${{ repair.cost }}</p>
      <p>Owner: {{ repair.owner }}</p>
    </div>
    <div class="repair-description">
      <p>{{ repair.description }}</p>
    </div>
    <button
      class="repair-button"
      [ngClass]="{
        'in-progress': repair.status === 'in progress'
      }"
    >
      {{ repair.status }}
    </button>
  </div>
  <div class="pagination">
    <button
      (click)="changePage(currentPage - 1)"
      [disabled]="currentPage === 1"
    >
      Previous
    </button>
    <button
      *ngFor="let page of totalPagesList"
      (click)="changePage(page)"
      [class.active]="currentPage === page"
    >
      {{ page }}
    </button>
    <button
      (click)="changePage(currentPage + 1)"
      [disabled]="currentPage === totalPages"
    >
      Next
    </button>
  </div>
</div>

