.Container-wrapped {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  .Container-wrapped h2 {
    color: #f55701;
    font-size: 2rem;
    margin: 0;
    margin-right: 1rem;
    text-align: center;
  }
  .create-owner-button {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    color: #007bff;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
    display: inline-block;
    text-decoration: none;
    margin-top: 3px;
    margin-left: 13px;
    &:hover {
      background-color: #e2e6ea;
      color: #0056b3;
      transform: scale(1.05);
    }
  
    &:active {
      transform: scale(0.95);
    }
  }
   
  .owner-container{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 12px 0; 
  }
  .owner-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(177, 65, 0, 0.1);
    width: 100%;
    max-width: 1000px;
    margin: 10px 0;
  }
  .owner-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 20px; 
  }
  .owner-info h3 {
    font-size: 1.25rem;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .owner-info p {
    margin: 5px 0;
    font-size: 0.9rem;
  }
  .editbtn {
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #f55701;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s, transform 0.2s;
    margin: 0 15px;
  }
  
  .editbtn:hover {
    background-color: #d94d00;
    transform: scale(1.05);
  }
  
  .editbtn:active {
    transform: scale(0.95);
  }
  