<div class="Container-wrapped">
  <h2>Owner Management</h2>
  <a routerLink="/admin-homepage/create-owner-page" class="create-owner-button">
    Create Owner
  </a>
  <a routerLink="/admin-homepage/user-search-page" class="user-search-page-button">
    User Search
  </a>
</div>
<div class="owner-container">
  <div *ngFor="let propertyOwners of paginatedPropertyOwners" class="owner-card">
    <div class="owner-info">
      <h3>Vat: {{ propertyOwners.vatNumber }}</h3>
      <p>Name: {{ propertyOwners.name }}</p>
      <p>Surname: {{ propertyOwners.surname }}</p>
      <p>Address: {{ propertyOwners.address }}</p>
      <p>Phone Number: {{ propertyOwners.phoneNumber }}</p>
      <p>Email: {{ propertyOwners.email }}</p>
    </div>
    <a [routerLink]="['/admin-homepage/edit-owner-page', propertyOwners.vatNumber]" class="editbtn">Edit</a>
  </div>
  <div class="pagination">
    <c-pagination aria-label="Page navigation example">
        <li cPageItem [class.disabled]="currentPage === 1">
          <a cPageLink (click)="changePage(currentPage-1)"[routerLink]>Previous</a>
        </li>
        <li cPageItem *ngFor="let page of totalPagesList">
          <a cPageLink (click)="changePage(page)"[routerLink] [class.active]="page=== currentPage">{{page}}</a>
        </li>
        <li cPageItem [class.disabled]="currentPage === totalPages">
          <a cPageLink (click)="changePage(currentPage+1)" [routerLink]>Next</a>
        </li>
      </c-pagination>
</div>
</div>