<div class="container">
  <div class="left-container">
    <h1>Welcome to Technico</h1>
    <p>Connect with people and share your ideas.</p>
  </div>
  <div class="right-container">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="login()"
      autocomplete="new-password"
    >
      <div class="form-control">
        <label for="email">Email</label>
        <input
          formControlName="email"
          id="email"
          class="form-control"
          autocomplete="new-password"
          type="email"
          placeholder="Enter your email"
        />

        <label for="password">Password</label>
        <input
          formControlName="password"
          id="password"
          autocomplete="new-password"
          type="password"
          placeholder="Enter your password"
        />
      </div>
      <button id="login-button" type="submit">Login</button>
      <div class="link-container">
        <p>
          Don't have an account? <a routerLink="/signup" class="link">Sign Up</a>
        </p>
        <p>
          Forgot your password?
          <a routerLink="/forgot-password" class="link">Reset Password</a>
        </p>
      </div>
    </form>
  </div>
</div>
