
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; 
    background-color: #f0f2f5; 
    gap:80px;
  }
  .left-container {
    max-width: 500px;
    text-align: left;
    margin-right: 30px;
    margin-bottom: 90px;
  } 
  .left-container h1 {
    font-size: 50px;
    color: #f55701; 
  }
  .left-container p {
    font-size: 32px;
    color: #333;
  }
  .form-control{
    padding: 60px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-bottom: 20px;
    background-color: rgb(248, 246, 246);
  }
  .form-control input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .right-container{
    font-size: 26px;
  }
  #login-button{
    width: 100%; 
    padding: 12px; 
    background-color: #f55701; 
    color: white; 
    border: none; 
    border-radius: 6px; 
    font-size: 16px; 
    font-weight: bold; 
  }