<div class="container-searchPage">
  <h2>Search User</h2>
  <div class="search-section">
    <form >
      <label for="vat">VAT:</label>
      <input
        type="text"
        id="vat"
        placeholder="Search by VAT"
        [(ngModel)]="searchCriteria.vatNumber"
        name="Vat"
      />
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        placeholder="Search by Email"
        [(ngModel)]="searchCriteria.email"
        name="email"
      />
      <button type="submit" (click)="searchOwners()">Search</button>
    </form>
  </div>
  <div class="noRepairs" *ngIf="!isLoading && filteredPropertyOwner.length === 0">
    <p>No User found matching the criteria.</p>
  </div>
  <div class="owner-container">
    <div class="outer-owner-card" *ngIf="!isLoading && filteredPropertyOwner.length > 0">
      <div
        *ngFor="let propertyOwner of filteredPropertyOwner"
        class="owner-card"
      >
        <div class="owner-info">
          <h3>Vat: {{ propertyOwner.vatNumber }}</h3>
          <p>Name: {{ propertyOwner.name }}</p>
          <p>Surname: {{ propertyOwner.surname }}</p>
          <p>Address: {{ propertyOwner.address }}</p>
          <p>Phone Number: {{ propertyOwner.phoneNumber }}</p>
          <p>Email: {{ propertyOwner.email }}</p>
        </div>
      <a [routerLink]="['/admin-homepage/owner-management/edit-owner-page', propertyOwner.vatNumber]" class="editbtn">Edit</a>
     <!-- <button class="deletebtn" type="submit" (click)="deletePropertyOwners()">Delete Owner</button> -->
    </div>
      </div>
    </div>
</div>
