.container-repairs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 20px;
  margin-top: 50px;

  h2 {
    text-align: center;
    color: #f55701;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .search-section {
    margin-bottom: 2rem;

    form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;

      .form-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
      }

      label {
        font-weight: bold;
      }

      input {
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #dee2e6;
        border-radius: 4px;
      }

      button {
        padding: 0.5rem 1.5rem;
        font-size: 1rem;
        color: #f55701;
        background-color: #f8f9fa;
        border: 1px solid #f55701;
        border-radius: 4px;
        cursor: pointer;
        transition: transform 0.2s, background-color 0.2s, color 0.2s;
        display: inline-block;
        text-decoration: none;
        margin-top: 3px;
        margin-left: 13px;
        &:hover {
          transform: scale(1);
           background-color: #f55701;
          color: #ffffff;
            opacity: 1;
        }
      
        &:active {
          transform: scale(0.95);
        }
      }
    }
  }

  .repair-header {
    border-bottom: 1px solid #f55701;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    
  }
  
  .repair-identifiers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
   
  }
  
  .identifier-item {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    
  }
  
  .identifier-item i, 
  .identifier-item mat-icon { 
    color: #f55701;
    font-size: 1.3rem;
  }
  
  .identifier-label {
    color: #666;
    font-weight: 500;
  }
  
  .identifier-value {
    font-weight: 600;
  }

  .create-repair-button {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    color: #f55701;
    background-color: #f8f9fa;
    border: 1px solid #f55701;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
    display: inline-block;
    text-decoration: none;
    margin-top: 3px;
    margin-left: 13px;
    &:hover {
      transform: scale(1);
       background-color: #f55701;
      color: #ffffff;
        opacity: 1;
    }
  
    &:active {
      transform: scale(0.95);
    }
  }

  .repair-card {
    border: 1px solid #dee2e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
    background: #f7f7f7;
    border-radius: 8px;
    margin: 20px auto;
    padding: 1.5rem;
    min-height: 200px;
    font-size: 1rem;
    .repair-info,
    .repair-actions {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .repair-info {
      flex: 2;

      h3 {
        font-size: 1.25rem;
        margin-bottom: 5px;
        font-weight: bold;
      }

      p {
        margin: 7px 0;
      }
    }
    

    .repair-actions {
      display: flex;
      flex-direction: column;
      gap: 10px;

      button {
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        color: white;
        transition: background-color 0.3s, transform 0.2s;
        cursor: pointer;
        text-align: center;

        &.in-progress {
          background-color: #ff9800;
        }

        &.declined {
          background-color: #dc3545;
        }

        &.accept-button {
          background-color: lightgray;

          &:hover {
            background-color: #555555;
          }
        }

        &.decline-button {
          background-color: lightgray;

          &:hover {
            background-color: #555555;
          }
        }
      }
    }
    .repair-details {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1.5rem;
      margin-left: 5%;
    }
    
    .detail-item {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    
    .detail-icon {
      background: #f0eeee;
      padding: 0.8rem;
      border-radius: 50%;
      color: #f55701;
      font-size: 1.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .detail-content {
      display: flex;
      flex-direction: column;
      font-size: 1.1rem;
    }
    
    .detail-label {
      color: #666;
      font-size: 1.1rem;
      margin-bottom: 0.25rem;
    }
    
    .detail-value {
      font-weight: 500;
    }
  }
  .repair-description {
    display: flex;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 30px;
    margin-top: 30px;
  }
  
  .repair-description textarea {
    width: 80%;
    max-width: 800px;
    min-width: 300px;
    box-sizing: border-box;
    font-size: 1rem;
    resize: none;
    text-align: center;
    border: 0.9px solid #f55701;
    outline: none;
    background: transparent;
    cursor: default;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    button {
      padding: 8px 12px;
      border: 1px solid #f55701;
      border-radius: 4px;
      color: #f55701;
      margin: 0 5px;

      &:hover,
      &.active {
        background-color: #f55701;
        color: #fff;
      }
    }
  }
}
